ul.customers-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.customers-container {
    display: flex;
    justify-content: center;
}

.customers-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    gap: 15px;
}

.customer-container {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .1);
    border: 1px solid black;
    border-radius: 2px;
}

.customer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 12px 40px;
}

.customer-content h3 {
    margin: 0;
}