/* Stylesheet for the application - dont' touch */
/* Stylesheet for the application */

html * {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBE7E9;
    font-family: "Josefin Sans", sans-serif;
}

.headerImage {
    width: 500px;
    height: auto;
    margin-top: 3%;
}

button:hover {
    background-color: #ffb3b3;
}