<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Customer Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/admin-frontpage.css" th:href="@{/css/admin-frontpage.css}" rel="stylesheet"/>
</head>

<body>

<div class="main-container">
    <div th:replace="~{fragments :: header('Header fragment')}"></div>

    <div class="main-content">
        <div th:replace="~{fragments :: navigation-bar('Customer Orders')}"></div>

        <h1>Bestillinger</h1>

        <div class="customer-orders-container">
            <ul class="customer-orders-content">
                <li class="customer-order-container" th:each="order: ${orders}">
                    <div class="customer-order-content">
                        <div class="customer-order-info-content">
                            <h3 th:text="${order.getKey().getEmail()}">Customer email</h3>
                            <h3>
                                ID:
                                <span style="display: inline-flex; padding: 0"
                                      th:text="${order.getValue().getOrderId()}">
                                                OrderId
                            </span>
                            </h3>
                        </div>

                        <div class="customer-order-details-content">
                            <div class="customer-order-items-container">
                                <ul class="customer-order-items-content">
                                    <li class="customer-order-item-container"
                                        th:each="orderItem: ${order.getValue().getOrderItems()}">
                                        <div class="customer-order-item-content">
                                            <div class="cupcake-parts">
                                                <p>
                                                    Bund:
                                                    <span style="display: inline-flex; padding: 0"
                                                          th:text="${orderItem.getCupcakeBottom().getName()}">
                                                Chocolate
                                            </span>
                                                </p>
                                                <p>
                                                    Top:
                                                    <span style="display: inline-flex; padding: 0"
                                                          th:text="${orderItem.getCupcakeTop().getName()}">
                                                Blueberry
                                            </span>
                                                </p>
                                            </div>

                                            <p>
                                                Antal:
                                                <span style="display: inline-flex; padding: 0"
                                                      th:text="${orderItem.getQuantity()}">
                                                10
                                            </span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="customer-order-buttons-content">
                                <form method="post">
                                    <button type="submit" name="orderId" th:value="${order.getValue().getOrderId()}"
                                            formaction="/orderisready">Klar til afhentning
                                    </button>
                                    <button type="submit" name="orderId" th:value="${order.getValue().getOrderId()}"
                                            formaction="/rejectorder">
                                        Slet ordre
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>