<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Ordreoversigt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/order-overview.css" th:href="@{/css/order-overview.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="~{fragments :: header('Header fragment')}"></div>

<nav class="navbar">
    <a class="back-button" th:if="${session.currentUser != null}" href="user-frontpage.html"
       th:href="@{/backtoordersite}">Tilbage</a>

    <div class="customer-email"
         th:text="${session.currentUser != null ? session.currentUser.email : 'Not logged in'}">
    </div>
</nav>

<h1>Ordreoversigt</h1>

<div class="row">
    <div class="column1">
        <table>
            <tr th:each="item : ${basket}">
                <td th:text="${item.cupcakeBottom.name + ' + ' + item.cupcakeTop.name + '&nbsp;&nbsp;&nbsp;' + item.quantity + ' stk ' + item.getTotalItemPrice() + ' kr.'}"></td>
                <td><img th:src="@{/images/remove.png}" src="/images/remove.png" width="100%"/></td>
            </tr>
        </table>
    </div>
    <div class="column2">
        <table>
            <tr>
                <td><h2>Total:</h2></td>
                <td><h3 th:text="${totalPrice}"></h3></td>
                <td><h3>kr</h3></td>
            </tr>
            <tr>
                <td><h2>Balance:</h2></td>
                <td><h3 th:text="${session.currentUser != null ? session.currentUser.balance : 'Not logged in'}"></h3>
                </td>
                <td><h3>kr</h3></td>
            </tr>
            <tr>
                <td></td>
                <td class="gray"><h3 th:text="'- ' + ${totalPrice}"></h3></td>
            </tr>
            <tr>
                <td><h2>Ny Balance:</h2></td>
                <td><h3 th:text="${session.currentUser.balance - totalPrice}"></h3></td>
                <td><h3>kr</h3></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <a class="button1" th:if="${session.currentUser != null}" href="pop-up.html" th:href="@{/ordernow}">Bestil</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="button2">
                        <button type="submit">Annuller Bestilling</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>