<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <title th:text="${title}">Frontpage</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<form class="dropdown-bottom">
    <label for="bottom">Vælg bund:</label>
    <select name="bottom" id="bottom">
        <option value="chocolate">Chocolate</option>
        <option value="vanilla">Vanilla</option>
        <option value="nutmeg">Nutmeg</option>
        <option value="pistacio">Pistacio</option>
        <option value="almond">Almond</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>

<div id="page-container">
    <div id="page-content">
        <header th:fragment="header(title)">
            <div class="headerimage">
                <img th:src="@{/images/CupHeader.png}" src="/images/CupHeader.png" width="100%"/>
            </div>
        </header>

        <footer th:fragment="footer" class="footer-container">
        </footer>
    </div>
</div>
</body>
</html>
